Binaries
DerivedDataCache
Intermediate

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Mannequin/

# Include Saved Content
Saved/*
!Saved/Screenshots
!Saved/Downloads
